beautifulsoup4==4.12.3
bottle==0.12.25
branca==0.7.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
clr-loader==0.2.6
folium==0.17.0
geographiclib==2.0
geopandas==1.0.0
geopy==2.4.1
idna==3.7
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
pandas==2.2.2
proxy_tools==0.1.0
pycparser==2.22
pyogrio==0.9.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pythonnet==3.0.3
pytz==2024.1
pywebview==5.1
requests==2.32.3
shapely==2.0.4
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
xyzservices==2024.6.0